.App {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header > h1 {
  color: rgb(37, 147, 255);
}

.editor {
  display: flex;
  gap: 10px;
}

.editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0px;
}

.list > input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.list .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.todoItem input {
  width: 20px;
}

.todoItem .content {
  flex: 1;
}
.todoItem .date {
  font-size: 14px;
  color: gray;
}

.todoItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  border: none;
}
